/* Base styles */

body {
  background-color: #FFF;
  color: #222;
  padding-top: 50px;
}

#map {
  height: 300px;
  margin-bottom: 20px;
}

.measurement div .description {
    margin-top: 10px;
    font-size: 1.8em;
}

.measurement div .value {
    padding-top: 10px;
    font-size: 3em;
    font-weight: bold;
}

.measurement {
    margin-bottom: 20px;
}

#chart {
    height: 300px;
}
