<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="static/css/vendor/leaflet.css" />

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.ie.css" />
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="static/js/ie8shim.js"></script>
    <script type="text/javascript" src="static/js/vendor/aight.js"></script>
    <![endif]-->
    <script src="static/js/vendor/d3.v3.js"></script>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="static/js/vendor/aight.d3.js"></script>
    <![endif]-->

    <link href="static/css/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
    <title>{% block title %}{% end %}OpenXC Trip Visualization</title>
</head>

<body>
    <a href="https://github.com/openxc/trace-analyzer"><img style="position: absolute; top: 0;
            right: 0; border: 0;"
            src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"
            alt="Fork me on GitHub"></a>
    <div class="container">
    {% block body %}{% end %}
    </div>

    <script src="static/js/vendor/leaflet.js"></script>
    <script src="static/js/vendor/jquery-1.9.1.min.js"></script>
    <script src="static/js/vendor/bootstrap.min.js"></script>
    <script src="static/js/vendor/underscore-min.js"></script>
    <script src="static/js/vendor/Chart.min.js"></script>
    <script src="static/js/traces.js"></script>
    <script src="static/js/timeseries.js"></script>
    <script src="static/js/map.js"></script>
    <script src="static/js/fuel.js"></script>
    <script src="static/js/histogram.js"></script>
    <script src="static/js/app.js"></script>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27117308-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</body>
</html>
