<!doctype html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>{% block title %}{% end %}OpenXC Livestream</title>

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />

    <link rel="stylesheet" type="text/css"
        href="{{ static_url('css/vendor/normalize.css') }}">
    <link rel="stylesheet" type="text/css"
        href="{{ static_url('css/vendor/bootstrap.min.css') }}">

    <link rel="stylesheet" type="text/css" media="screen"
            href="{{ static_url('css/styles.css') }}"/>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                {% block header %}
                <h3 id="logo"><a class="brand" href="/visualization">
                        OpenXC Livestream
                </a></h3>
                {% end header %}
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <section id="content" class="content">
        {% block body %}{% end %}
        </section>

        <footer>
            {% block footer %}
            {% end footer %}
            <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">
                <img alt="Creative Commons License" src="http://i.creativecommons.org/l/by/3.0/80x15.png" />
            </a>
            <p>
                Except as otherwise noted, the content of this page is licensed
                under the Creative Commons Attribution 3.0 License.
            </p>
        </footer>
    </div>

    <script type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js">
    </script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="{{ static_url('js/vendor/highcharts/highcharts.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/vendor/highcharts/themes/gray.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/vendor/highcharts/modules/exporting.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/app.js') }}"></script>
</body>
</html>
