{% extends "layout.html" %}

{% block body %}
<div class="row-fluid">

<div id="map" class="span8"></div>

<div class="span4 measurement">
    <div class="row">
        <p class="span4 description">The windshield wipers are</p>
        <p class="span2 offset1 value" id="wiper-status">...</p>
    </div>
</div>

<div class="span4 measurement">
    <div class="row">
        <p class="span4 description">The current gear is</p>
        <p class="span2 offset1 value" id="transmission-gear">...</p>
    </div>
</div>

</div>

<div class="row-fluid">
<div id="chart" class="span12" data-url="/records"></div>
</div>

</section>
{% end body %}
