{% extends "layout.html" %}

{% block body %}
<div class="row">
    <div class="span5">
        <a href="http://openxcplatform.com"><img class="logo" src="static/img/openxc-logo.png"
                    alt="OpenXC Visualization"/></a>
        <div id="map"></div>
        <label for="traces">Select a Trace File</label>
        <select id="traces">
            <option selected value="/traces/{{ trace_filenames[0] }}">Live feed (started {{ trace_filenames[0].split(".json")[0] }})</option>
            {% for trace_filename in trace_filenames[1:] %}
            <option value="/traces/{{ trace_filename }}">{{ trace_filename.split(".json")[0] }}</option>
            {% end %}
            <option value="http://openxcplatform.com.s3.amazonaws.com/traces/nyc/downtown-crosstown.json">NYC - Downtown, Crosstown</option>
            <option value="http://openxcplatform.com.s3.amazonaws.com/traces/nyc/downtown-east.json">NYC - East Downtown</option>
            <option value="http://openxcplatform.com.s3.amazonaws.com/traces/nyc/downtown-west2.json">NYC - West Downtown</option>
            <option value="http://openxcplatform.com.s3.amazonaws.com/traces/nyc/downtown-west.json">NYC - West Downtown 2</option>
            <option value="http://openxcplatform.com.s3.amazonaws.com/traces/nyc/uptown-crossdown.json">NYC - Uptown Crosstown</option>
            <option value="http://openxcplatform.com.s3.amazonaws.com/traces/nyc/uptown-crosstown.json">NYC - Uptown Crosstown 2</option>
            <option value="http://openxcplatform.com.s3.amazonaws.com/traces/nyc/uptown-west2.json">NYC - West Uptown </option>
            <option value="http://openxcplatform.com.s3.amazonaws.com/traces/nyc/uptown-west.json">NYC - West Uptown</option>
            <option value="http://openxcplatform.com.s3.amazonaws.com/traces/localwithgps.json">Highway Commute and Local Stop</option>
            <option value="http://openxcplatform.com.s3.amazonaws.com/traces/aggressive-driving.json">Aggressive Driving (no GPS or fuel consumption)</option>
            <option value="http://openxcplatform.com.s3.amazonaws.com/traces/commute.json">Commute</option>
            <option value="http://openxcplatform.com.s3.amazonaws.com/traces/commute2.json">Another Commute</option>
            <option value="http://openxcplatform.com.s3.amazonaws.com/traces/highway-speeding.json">Highway Speeding (no GPS)</option>
            <option value="http://openxcplatform.com.s3.amazonaws.com/traces/idling.json">Idling (no GPS)</option>
            <option value="http://openxcplatform.com.s3.amazonaws.com/traces/riding-brakes.json">Riding the Brakes (no GPS)</option>
            <option value="http://openxcplatform.com.s3.amazonaws.com/traces/tailgating.json">Tailgating (no GPS)</option>
        </select>
        <p id="trace-status"><span>Loading...</span><i class="icon-ok"></i></p>

        <dl>

          <dt>Green Line</dt>
          <dd>Overall GPS trace</dd>

          <dt>Red shaded portions</dt>
          <dd>Travelling below normal speed limit</dd>

          <dt>Blue circle</dt>
          <dd>Starting point</dd>

          <dt>Green circle</dt>
          <dd>Ending point</dd>

          <dt>Red circles</dt>
          <dd>Stops</dd>

        </dl>

        <!-- <p class="current-data">Current timestamp: <span -->
                    <!-- id="current_timestamp"></span></p> -->

    </div>
    <div class="span7">
            <div class="row">
                <div class="span5 graph-container">
                    <div id="fuel_consumed_since_restart" class="graph"></div>
                </div>
                <div class="span2 graph-comments">
                    <strong>Fuel Consumed</strong>
                    <p class="delayed"><span id="fuel-efficiency"></span> MPG</p>
                    <p class="delayed"><span id="total-fuel-consumed"></span>
                        Gallons == ~$<span id="total-fuel-cost"></span>
                        (@ $<span id="average-fuel-cost"></span>/gallon)</p>

                </div>
            </div>
            <div class="row">
                <div class="span5 graph-container">
                    <div id="cumulativeFuelEfficiency" class="graph"></div>
                </div>
                <div class="span2 graph-comments">
                    <strong>Fuel Efficiency</strong>
                    <p>Shaded == braking</p>
                    <p class="current-data"><span id="current_cumulativeFuelEfficiency"></span> MPG Cumulative</p>
                </div>
            </div>
            <div class="row">
                <div class="span5 graph-container histogram">
                    <!-- TODO if we don't override the width here it's too small, css isn't working-->
                    <canvas id="gear-histogram" width="385" height="75" class="graph"></canvas>
                </div>
                <div class="span2 graph-comments">
                    <strong>Gear Position</strong>
                    <p><span id="current_gear_position"></span></p>
                </div>
            </div>
            <div class="row">
                <div class="span5 graph-container">
                    <div id="vehicle_speed" class="graph"></div>
                </div>
                <div class="span2 graph-comments">
                    <strong>Vehicle Speed</strong>
                    <p class="current-data"><span id="current_vehicle_speed"></span> Kph</p>
                </div>
            </div>
            <div class="row">
                <div class="span5 graph-container">
                    <div id="engine_speed" class="graph"></div>
                </div>
                <div class="span2 graph-comments">
                    <strong>Engine Speed</strong>
                    <p class="current-data"><span id="current_engine_speed"></span> RPM</p>
                </div>
            </div>
            <div class="row">
                <div class="span5 graph-container">
                    <div id="torque_at_transmission" class="graph"></div>
                </div>
                <div class="span2 graph-comments">
                    <strong>Torque</strong>
                    <p class="current-data"><span id="current_torque_at_transmission"></span> Nm</p>
                </div>
            </div>
            <div class="row">
                <div class="span5 graph-container">
                    <div id="accelerator_pedal_position" class="graph"></div>
                </div>
                <div class="span2 graph-comments">
                    <strong>Accel. Pedal (%)</strong>
                    <p class="current-data"><span id="current_accelerator_pedal_position"></span>%</p>
                </div>
            </div>
            <div class="row">
                <div class="span5 graph-container">
                    <div id="odometer" class="graph"></div>
                </div>
                <div class="span2 graph-comments">
                    <strong>Odometer</strong>
                    <p class="current-data"><span id="current_odometer"></span> Km</p>
                </div>
            </div>
    </div>
<div class="row">
    <div class="span7">
        <p>This map and graphs are visualizations of data collected
            using the <a href="http://openxcplatform.com">OpenXC
                Platform</a>. OpenXC is an <a
                    href="https://github.com/openxc">open source</a>
                software and hardware platform to pull data from your
                car and use it like any other data source in a
                smartphone, tablet or web application. For more
                information on OpenXC, visit the
            <a href="http://openxcplatform.com">project page</a>.
        </p>

        <p>The visualization is now showing a <strong>live</strong> trace as
            Chris drives from Ann Arbor, MI to Pittsburgh, PA to host the <a
                    href="http://techshop.ws/Events.html?&action=detail&id=846">OpenXC
                workshop at TechShop this weekend</a>, September 13th and 14th,
            2013. This page will refresh automatically every minute so you can
            see the latest data. You can also select one of the previously
            recorded trace files from the dropdown menu below the map.</p>

        <p>These visualizations are compatible with IE9+, Google Chrome, Safari,
            and Mozilla Firefox. The map overlays can be toggled via the
            layers button. The <a
                    href="https://github.com/openxc/trace-analyzer">source</a>
            for this visualization is available on GitHub.</p>
    </div>
</div>

</div>

<div class="row">
    <footer class="offset5 span7">
        {% block footer %}
        {% end footer %}
        <p>
            Content on this page generated with data from the <a
                    href="http://openxcplatform.com">OpenXC Platform</a>
            and sponsored by Ford Motor Company.
        </p>

        <p>
            Except as otherwise noted, the content of this page is licensed
            under the
            <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License.</a>
        </p>
    </footer>
</div>
{% end body %}
